asgiref==3.5.0
beautifulsoup4==4.11.1
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-default-group==1.2.2
cssselect==1.1.0
cssutils==2.4.0
detail==0.2.0
Django==4.0.4
django-autoslug==1.9.8
django-bootstrap5==2.1.2
django-comptes==2.0.1
django-phonenumber-field==6.1.0
dmdm==1.4.5
emails==0.6
formaldict==1.0.3
idna==3.3
importlib-metadata==4.11.3
Jinja2==3.1.1
kmatch==0.5.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.1
mdmail==0.1.3
ndh==5.5.4
Pillow==9.1.0
premailer==3.10.0
prompt-toolkit==3.0.29
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
view==0.1
wcwidth==0.2.5
zipp==3.8.0
