{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container1">
  <div class="row ">
<link rel="stylesheet"  href='{% static "css/style.css" %}'>

    <div class="position-relative overflow-hidden  p-3 p-md-5 m-md-3 text-center ">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Garderie Nuit</h1>
        <p class="lead font-weight-normal">Notre service de garde s'adresse aux parents qui travaillent de nuit et qui ont un ou plusieurs enfants de 2 à 6 ans..</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>

    </div>


      </div>

    </div>





<div class="container">
  <div class="row ">


    <div class="position-relative overflow-hidden  p-3 p-md-5 m-md-3 text-center ">
      <div class="row container">
      <div class="col-8 col-sm-6">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

      </div>
      <div class="col-4 col-sm-6 ">
        <img  src="{% static 'images/kidsleep1.jpg' %}" class="image2" alt="Generic placeholder image">
      </div>
      </div>

    </div>


      </div>

    </div>



<section class="grayBg sectionFeatures">


		<div class="clearFix flexWrap">
							<div class="col-3 col-tab-6 col-mob-12 floatLeft b-box flexedItem padding20">

					<div class="b-box featureIcon"  style="background:#41c0e0">
													<i class="fas fa-theater-masks"></i>											</div>
					<div class="bottom  b-box ">
						<h2 class="hand mainTitle small mb0">L’affectif </h2>
						<p class="content small padding5">Permettre à l’enfant de manifester ses émotions : colère, tristesse, joie…</p>
					</div>
				</div>

							<div class="col-3 col-tab-6 col-mob-12 floatLeft b-box flexedItem padding20">

					<div class="b-box featureIcon"  style="background:#f59834">
													<i class="far fa-praying-hands"></i>											</div>
					<div class="bottom  b-box ">
						<h2 class="hand mainTitle small mb0">Le social</h2>
						<p class="content small padding5">Encourager les interactions avec ses pairs, les jeux, le sens du partage, le sens d’aider, le respect les autres, le travail en groupe.</p>
					</div>
				</div>

							<div class="col-3 col-tab-6 col-mob-12 floatLeft b-box flexedItem padding20">

					<div class="b-box featureIcon"  style="background:#5db33b">
													<i class="fal fa-graduation-cap"></i>											</div>
					<div class="bottom  b-box ">
						<h2 class="hand mainTitle small mb0">Le créatif</h2>
						<p class="content small padding5">Laisser l’enfant s’exprimer librement, intervenir rarement, ne jamais fournir de modèle à reproduire, mettre à leur disposition le matériel nécessaire.</p>
					</div>
				</div>

							<div class="col-3 col-tab-6 col-mob-12 floatLeft b-box flexedItem padding20">

					<div class="b-box featureIcon"  style="background:#bf1bbf">
													<i class="far fa-comments"></i>											</div>
					<div class="bottom  b-box ">
						<h2 class="hand mainTitle small mb0">Le langage</h2>
						<p class="content small padding5">Soutenir cet apprentissage dans un environnement adéquat, en encourageant les dialogues avec les camarades et l’éducatrice. Prévoir
 es moments dans la journée pour encourager les enfants à discuter.</p>
					</div>
				</div>

							<div class="col-3 col-tab-6 col-mob-12 floatLeft b-box flexedItem padding20">

					<div class="b-box featureIcon"  style="background:#ebe23d">
													<i class="far fa-question-circle"></i>											</div>
					<div class="bottom  b-box ">
						<h2 class="hand mainTitle small mb0">L’aspect cognitif</h2>
						<p class="content small padding5">Entretenir la curiosité de l’enfant en l’incitant à poser des questions et en les assistants pour trouver seules les réponses. Il faut qu’il
 rouve du plaisir et l’intérêt a le faire, lorsque son potentiel le permet.</p>
					</div>
				</div>

							<div class="col-3 col-tab-6 col-mob-12 floatLeft b-box flexedItem padding20">

					<div class="b-box featureIcon"  style="background:#f55600">
													<i class="far fa-heart-circle"></i>											</div>
					<div class="bottom  b-box ">
						<h2 class="hand mainTitle small mb0">La communication</h2>
						<p class="content small padding5">Un autre aspect qui nous semble important, dans notre programme, c’est la bonne relation entre l’éducatrice, les enfants et les parents,
 réer un climat de confiance, une relation chaleureuse et une grande</p>
					</div>
				</div>





		</div>


</section>











{% endblock %}
